<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Listando dados no GridView</title>
</head>
<body>
    <h2>UBS - Listando dados</h2>
    <hr />


    <table id="rows" class="table">
        <tr>
            <th>
                Sexo
            </th>
            <th>
                Empresa
            </th>
            <th>
                Estado
            </th>
        </tr>
    </table>



    <input id="listPerson" type="button" onclick="updateModel()" value="Clicar" />

    <script type="text/javascript">
        function updateModel() {
            setTimeout(function () {
                $.ajax({
                    url: '@Url.Action("UpdateModel", "Home")',
                    type: 'POST',
                    data: {},
                    datatype: "json",
                    success: function (data) {
                        var td = "<tr><th>Sexo</th><th>Empresa</th><th>Estado</th></tr>";
                        for (var i = 0; i < data.length; i++) {
                            td += "<tr><td>" + data[i].Gender + "</td><td> " + data[i].Company + "</td><td>" + data[i].State + "</td></tr>";
                        }
                        document.getElementById('rows').innerHTML = td;
                    },
                });

                updateModel();
            }, 1000);
        }

        updateModel();
    </script>
</body>
</html>
