@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>Dados: </h3>

<address>
    Rua Washington Luis, 98<br />
    São Paulo - SP, 01033-010<br />
    <abbr title="Phone">P:</abbr>
    11 949158565
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:emersoneron@hotmail.com">Emeroneron@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:emersoneron@gmail.com">Emersoneron@gmail.com</a>
</address>